.section1 {
  display: flex;
  margin-top: 10px;
  height: 316px;
  gap: 10px;
}

.chart1 {
  flex: 2;
  background: #eceef4;
  border-radius: 5.5px;
}

.chart2 {
  flex: 1;
  background: #eceef4;
  border-radius: 5.5px;
}

.section2 {
  display: flex;
  margin: 10px 0;
  height: 464px;
  gap: 10px;
}

.section2_inner1 {
  flex: 1;
  background: #eceef4;
  border-radius: 5.5px;
}

.section2_inner2 {
  flex: 3;
}

.innerBox {
  display: flex;
  height: 226px;
  gap: 10px;
  margin-bottom: 10px;
}

.internalBox1 {
  flex: 1;
  background: #eceef4;
  border-radius: 5.5px;
}

.internalBox2 {
  flex: 2;
  background: #eceef4;
  border-radius: 5.5px;
}
